:root {
    --var1: #EDE8DD;
    --var2: #323F4A;
    --var3: #CBD1E1;
    --var4: #1E262C;
}

body {
    color: var(--var1);
    background-color: black;
    font-family: 'IBM Plex Mono', sans-serif, monospace;
}

h1 {
    font-weight: 600;
}

a, a:visited {
    color: var(--var1);
}

.homepage {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.logo {
    width: 20%;
}

.previews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
}

.preview {
    position: relative;
    margin: 10px;
    width: 20%;
}
.preview-text {
    position: absolute;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
    top: 2px;
    right: 2px;

}
.preview-image {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
}

.nav {
    font-weight: 600;
    display: flex;
    padding: 5px;
    margin-bottom: 5px;

    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 100px;
    margin: 5px 15px 0 0;
}

.solution-display {
    display: flex;
    align-items: initial;
    justify-content: space-between;
}

.code-heading {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--var3);
    background-color: var(--var2);
    padding: 5px;
}

.my-code {
    border-right: 2px solid var(--var2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.my-solution-image {
    padding: 28px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: var(--var2);
    padding: 10px;
}


.dropdown {
    background: var(--var2);
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding-right: 2rem;


    position: relative;
    top: 0;
    transition: top ease 0.5s;
    display: inline-block;

    background-image: url(/images/down-arrow.png);
    background-size: .8rem;
    background-position: center right .5rem;
    background-repeat: no-repeat;
}
.dropdown:hover {
    top: -2px;
}

.dropbtn {
    color: var(--var1);
    font-family: 'IBM Plex Mono', sans-serif, monospace;
    font-weight: 600;
    background: var(--var2);
    border: none;
    cursor: grab;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid var(--var2);
    border-radius: 4px;
    padding: none;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .1s ease-in-out;
}

.dropdown a {
    background: var(--var2);
    color: var(--var1);
}
.dropdown a:hover {background-color: var(--var4);}

.show {
    display:block;
    top: 36px;
}

.char-count {
    text-transform: uppercase;
}
